<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236171991383-rv24l2avl5cjm1nuk28mp9spgqupr70o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236171991383-rv24l2avl5cjm1nuk28mp9spgqupr70o</string>
	<key>API_KEY</key>
	<string>AIzaSyAKClJ6WP7Hh4MbxNxdwa5WJ-U_FgYfR5o</string>
	<key>GCM_SENDER_ID</key>
	<string>236171991383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chunleethong.wowpanda</string>
	<key>PROJECT_ID</key>
	<string>wow-panda-c6c36</string>
	<key>STORAGE_BUCKET</key>
	<string>wow-panda-c6c36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236171991383:ios:846486174d8e5c50054612</string>
</dict>
</plist>